Repository schemafy/schemafy, pull requests merged in 2025-09, with the labels that each got.

#6 chore(#3): front project init setting
  .gitignore
  apps/frontend/.prettierrc
  apps/frontend/components.json
  apps/frontend/eslint.config.js
  apps/frontend/index.html
  apps/frontend/package.json
  apps/frontend/postcss.config.js
  apps/frontend/src/App.tsx
  apps/frontend/src/index.css
  apps/frontend/src/lib/utils.ts
  apps/frontend/src/main.tsx
  apps/frontend/src/vite-env.d.ts
  apps/frontend/tailwind.config.js
  apps/frontend/tsconfig.app.json
  apps/frontend/tsconfig.json
  apps/frontend/tsconfig.node.json
  apps/frontend/vite.config.ts
  package-lock.json
  package.json
  turbo.json
Labels: enhancement

#10 chore(#9): MobX and typescript init setting
  apps/frontend/postcss.config.js
  apps/frontend/tsconfig.json
  package-lock.json
Labels: enhancement

#15 fix(#14): add mobx, mobx-react-lite
  apps/frontend/package.json
  package-lock.json
Labels: bug

#26 fix: add prevention for duplicate state updates
  .github/workflows/issue-automation.yml
Labels: shared

#35 feat: add workflow to move unfinished sprint issues
  .github/workflows/sprint-issue-automation.yml
Labels: shared
